---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
import { getCategories, sluglify} from '@/utils'
const categories = await getCategories()
---

<BaseLayout title='Categories'>
	<TitlePage title='Categories' />
	<div class='flex justify-center flex-wrap gap-4'>
		{
			categories.map((category) => (
				<a
					href={`/category/${sluglify(category.toLowerCase())}/1`}
					class='inline-block bg-gray-200  rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2'
				>
					#{category}
				</a>
			))
		}
	</div>
</BaseLayout>
