---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="webdev">
    <h1 class="text-xl text-sky-400"> webdev </h1>

    <a href="webdev/upandrunning"> Up and Running</a> <br>
    <a href="webdev/htmlandcss"> HTML and CSS </a>
</BaseLayout>
