---
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
import Card from '@/components/Card'
import KanbanBoard from '../components/KanbanBoard.astro';

const columns = [
  {
    name: 'To Do',
    tasks: [
      { name: 'DSA', category: 'problem-solving' },
      { name: 'MERN', category: 'dev' },
	  { name: 'Product Management', category: 'elective' },
	  { name: 'Nand2Tetris', category: 'core' }
    ]
  },
  {
    name: 'In Progress',
    tasks: [
      { name: 'API Design & Development', category: 'dev++' },
      { name: 'System Design Intro', category: 'dev++' }
    ]
  },
  {
    name: 'Done',
    tasks: [
      { name: 'springboot intro', category: 'dev' }
    ]
  }
];

---

<BaseLayout title='Home'>
	<TitlePage title='Computer Science Primer'> 
		Welcome to <b>Computer Science Primer</b>. This website aims to introduce you to the fascinating world of Computer Science. 
		Our goal is not to turn you into a mere <i>Web Developer or an algorithm-memorizing robot</i>. 
		Instead, we strive to help you 
		<span class="px-2 font-normal tracking-wide border-b-2 border-teal-400  dark:bg-zinc-700">think like an Innovator</span>, 
		<span class=" px-2 font-normal border-b-2 border-teal-400  dark:bg-zinc-700">dream like an Artist</span>, 
		and <span class=" px-2 font-normal border-b-2 border-teal-400 dark:bg-zinc-700">execute like an Engineer</span>.

	</TitlePage>

	<h1 class="title text-4xl font-semibold mb-10 text-center"> Paths </h1>
	<div class="flex flex-wrap justify-center">
	<Card title='Problem Solving' 
	description='Learn how to solve problems using algorithms and data structures.' />

	
	<Card title='Development' 
	description='Learn to build web applications using modern tools and technologies.' />

	
	<Card title='Development Plus Plus' 
	description='Learn about System Design, Devops, and more to become a well-rounded developer.'  />

	
	<Card title='Core Computer Science' 
	description='Learn about the core concepts of computer science like Operating Systems, Networking, and more.' />

	<Card title='Electives' 
	description='From Artificial Intelligence to Product Management, get an intro to various topics' />


	</div>

	<h1 class="title text-4xl font-semibold text-center"> Progress </h1>
	<KanbanBoard columns={columns} />

</BaseLayout>

<script>
	import { animate } from 'motion'
	const showAnimations = localStorage.getItem('animations') === 'true'

	if (showAnimations) {
		animate(
			'.title',
			{ y: [80, 0], opacity: [0, 1] },
			{
				duration: 2.5,
				opacity: { duration: 3 },

				offset: [0, 0.55, 0.75]
			}
		)
	}
</script>
