---
let { title, description, links } = Astro.props
links = links || []
---

<div class="card border-gray-300 border-[1px] mr-10 mb-10 p-3 rounded-sm w-80 flex flex-col justify-between shadow-md">
    <div>
        <h2 class="text-lg font-semibold text-center">{title}</h2>
        <p class="mt-3">{description}</p>
    </div>
    <ul class="flex mt-3">
        {links.map((link: string) => (
            <li class="text-gray-900 bg-gray-300 font-medium rounded-md p-2"> <a href={link.href}>{link.text}</a> </li>
        ))}
    </ul>
</div>
