<nav>
    <a href="/">Turing Tribe</a>
    <ul>
        <li><a href="/webdev">Web Development</a></li>
        <li><a href="/problemsolving">Problem Solving</a></li>
        <li><a href="/product">Product</a></li>
        <li><a href="/systemdesign">System Design ++</a></li>
        <li><a href="/core">Core CS</a></li>
    </ul>
</nav>