---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '/src/layouts/BaseLayout.astro';

const publishedBlogEntries = await getCollection('webdev', ({ data }) => {
  return data.draft !== true;
});

export async function getStaticPaths() {
  const allBlogArticles: CollectionEntry<"webdev"> = await getCollection("webdev");

  return allBlogArticles.map((entry) => ({
    params: {
      slug: entry.slug,
    },
    props: { entry },
  }));
}

const { entry } = Astro.props;

---
<BaseLayout title='test'>
    <h1>INDIVIDUAL Course PAGE</h1>
    
    <!-- <ul>
      {publishedBlogEntries.map((entry) => {
        return (
          <li>
            <a href={`${entry.slug}`}>{entry.data.title}</a>
          </li>
        );
      })}
    </ul> -->


  
</BaseLayout>
  