---
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
import { COURSES } from '@/data/courses'


---
<BaseLayout title='Courses'>
	<TitlePage title='Courses' />
	<div class='flex justify-center flex-wrap gap-4'>
		{
			COURSES.map((course: string) => (
				<a
					href={`/courses/${course}`}
					class='inline-block bg-gray-200  rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2'
				>
					#{course}
				</a>
			))
		}
	</div>
</BaseLayout>