---
import TitlePage from '@/components/TitlePage';
import BaseLayout from '@/layouts/BaseLayout';
import { COURSES } from '@/data/courses';
import Card from '@/components/Card';
import { getCourseMeta } from '@/utils';

const courseMetaList = await Promise.all(
  COURSES.map(async (course) => {
    const meta = await getCourseMeta(course);
    return { course, meta: meta[0].data };
  })
);
---

<BaseLayout title='Courses'>
  <TitlePage title='Courses'>
    <p>Choose a course to start learning.</p>
  </TitlePage>
  <div class='flex justify-center flex-wrap gap-4'>
    {courseMetaList.map(({ course, meta }) => (
      <Card
        title={meta.title}
        description={meta.description}
        links={[{ href: `/courses/${course}`, text: 'Checkout Course' }]}
      />
    ))}
  </div>
</BaseLayout>
